<div class="row faq-row">
  <span class="faq-span">
      FAQ
  </span>
      <div class="col-md-12">
        <div class="faq-list">
            <div class="faq-list-item">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ?
                    </mat-expansion-panel-header>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                  </mat-expansion-panel>
            </div>
            <div class="faq-list-item">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ?
                    </mat-expansion-panel-header>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                  </mat-expansion-panel>
            </div>
            <div class="faq-list-item">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ?
                    </mat-expansion-panel-header>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                  </mat-expansion-panel>
            </div>

            <div class="faq-list-item">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ?
                    </mat-expansion-panel-header>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                  </mat-expansion-panel>
            </div>
            <div class="faq-list-item">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ?
                    </mat-expansion-panel-header>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                  </mat-expansion-panel>
            </div>
            <div class="faq-list-item">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ?
                    </mat-expansion-panel-header>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                  </mat-expansion-panel>
            </div>

            <div class="faq-list-item">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ?
                    </mat-expansion-panel-header>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                  </mat-expansion-panel>
            </div>
            <div class="faq-list-item">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ?
                    </mat-expansion-panel-header>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                  </mat-expansion-panel>
            </div>
            <div class="faq-list-item">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ?
                    </mat-expansion-panel-header>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                  </mat-expansion-panel>
            </div>

            <div class="faq-list-item">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ?
                    </mat-expansion-panel-header>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                  </mat-expansion-panel>
            </div>
            <div class="faq-list-item">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ?
                    </mat-expansion-panel-header>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                  </mat-expansion-panel>
            </div>
            <div class="faq-list-item">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ?
                    </mat-expansion-panel-header>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                  </mat-expansion-panel>
            </div>


          </div>
      </div>


  </div>
