.faq-span{
   margin: 20px 10px !important;
}

.faq-row{
  margin-left: 24px !important;
  margin-top: 42px !important;
}

.faq-list-item {
  position: relative;
  display: block;
}


.faq-list{
  padding: 0px 20px;
}

