.profile-page-span{
    margin: 20px 10px 50px 10px!important;
  }
  
  .profile-page-row{
   margin-left: 24px !important;
   margin-top: 42px !important;
  }
  
  .top-buffer{
    margin-top: 5%;
  }
  

  .span-icon{
    margin: 20px 17px 50px 10px!important;
  }


.red-dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
  
  .green-dot {
    height: 10px;
    width: 10px;
    background-color: rgb(26, 163, 14);
    border-radius: 50%;
    display: inline-block;
  }
  
  .yellow-dot {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 187, 0);
    border-radius: 50%;
    display: inline-block;
  }
  