<div class="row account-row">
  <div class="col-md-8">
    How to
    <h5 class="no-margin m-b">Account Setup</h5>
    <div class="list-group list-group-md md-whiteframe-z0 account-setup">
      Solve problems with your account<br>
      Set up your account<br>
      Change your account settings<br>
      Recommended browsers and devices<br>
      Reset your password<br>
    </div>
  </div>


  <div class="col-md-8">
    <h5 class="no-margin m-b">Typeopplæring policies</h5>
    <div class="list-group list-group-md md-whiteframe-z0 account-setup">
        Accommodations for learners with disabilities<br>
        Third-party tools<br>
        International restrictions<br>
        Age restrictions
    </div>
  </div>

</div>
