h5{
  height: 60px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.75;
  letter-spacing: normal;
  text-align: left;
  color: #0f72e2;
}

.account-setup{
  width: 485px;
  height: 220px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.75;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}

.account-row{
  margin-left: 24px !important;
  margin-top: 42px !important;
}
