
<div class="row profile-page-row">
  <span class="profile-page-span">
     Subscription 
  </span>
  <mat-icon class="icon span-icon">keyboard_arrow_right</mat-icon>
  <span class="profile-page-span">
     Budget
  </span>
  <div class="col-md-12">
    <form>
       <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="limit">Budget Limits</label>
              <input type="text" class="form-control" id="limit" placeholder="$2000">
            </div>
          </div>
        </div>
      

      <div class="row">
        <div class="col-md-6">
            <mat-checkbox [checked]="creditCardChecked" (change)="onCardChange()">Credit Card</mat-checkbox>
            <img class="img-responsive" src="http://i76.imgup.net/accepted_c22e0.png">
        </div>
      </div>
      <div *ngIf="creditCardChecked">
          <div class="row top-buffer-10">
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="cardNumber">Card Number</label>
                    <input type="text" class="form-control" id="cardNumber" placeholder="">
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="cardExp">Card Expiration</label>
                          <input type="text" class="form-control" id="cardExp" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-1 margin-30">
                    /
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="cardExp">&nbsp;</label>
                          <input type="text" class="form-control" id="cardExp" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="cardExp">Card Security Code</label>
                          <input type="text" class="form-control" id="cardExp" placeholder="">
                      </div>
                  </div>
              </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="zipcode">Zip Code</label>
                        <input type="text" class="form-control" id="zipcode" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <mat-checkbox class="example-margin">Paypal</mat-checkbox>
                        <img width="80px" class="img-responsive" src="../../assets/images/paypal-logo.png">
                    </div>
                  </div>
            </div>
          </div>    
      </div>
      <div class="row top-buffer-10">
          <div class="col-md-4">
              <button type="button" class="btn btn-outline-primary"><i class="fa fa-check-circle"></i> Setup Budget</button>
          </div>
        </div>
    </form>
  </div>
</div>


