.profile-page-span{
    margin: 20px 10px 50px 10px!important;
  }
  
  .profile-page-row{
   margin-left: 24px !important;
   margin-top: 42px !important;
  }
  
  .span-icon{
    margin: 20px 17px 50px 10px!important;
  }

  .top-buffer{
    margin-top: 5%;
  }
  .top-buffer-10{
    margin-top: 2%;
  }
  
  .margin-30{
    margin-top: 31px;
  }