:host {
  display: flex;
  justify-content: center;
  margin: 72px 0;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.loginError {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.loginButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

mat-card {
  border-top: 6px solid #0d47a1

}

.login-header-text {
  font-size: 24px;
  font-weight: 400;
}

.signin-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
