@import 'styles-variables';

.leftHeader{
float: left;
padding:24px 0 24px 13.8%;
}
.leftHeader img{
padding-left: 13.8%;
}
.rightHeader{
float: right;
padding:24px 13.6% 24px 0;
}
.rightHeader input{
font-weight: bold;
line-height: 1;
text-align: left;
color: #333333;
border:none;
background: none;
outline: none;
cursor: pointer;
}


