<section>
  <div class="mainBanner">
    <div class="bannerContent">
            <h1>Get Certified. Do it Online.</h1>
            <p>You can do the training online from the comfort of your home or office and alleviate the requirement of having to travel and do the classroom training</p>
            <input type="submit" name="start" value="Start Now">
        </div>
  </div>
</section>
<section>
  <div class="featureSection">
    <img src="../../assets/images/ic-01.png" alt="ic-01">
    <h5>Learn from the experts</h5>
    <span>Industry thought-leaders to help you master new skills</span>
  </div>
  <div class="featureSection">
    <img src="../../assets/images/ic-02.png" alt="ic-02">
    <h5>Learn on the go</h5>
    <span>Access your courses anywhere and anytime</span>
  </div>
  <div class="featureSection">
    <img src="../../assets/images/ic-03.png" alt="ic-03">
    <h5>Accredited curriculum</h5>
    <span>Industry thought-leaders to help you master new skills</span>
  </div>
</section>
<section>
  <div class="careerPath">
    <h1>Finally, we'll set you on your career path </h1>
  </div>
</section>
<section>
  <div class="service">
    <div class="leftService">
      <h3>Get a complete overview of all available equipment</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="rightService">
      <img src="../../assets/images/im-01.png" alt="im-01">
    </div>
  </div>
    <div class="serviceMid">
        <div class="rightService midPanelRight">
            <img src="../../assets/images/im-01.png" alt="im-01">
        </div>
        <div class="leftService midPanelLeft">
            <h3>Get a complete overview of all available equipment</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="service">
        <div class="leftService">
            <h3>All trainings in one place - complete in 1-2-3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="rightService">
            <img src="../../assets/images/im-03.png" alt="im-03">
        </div>
    </div>
</section>
<section>
    <div class="contactForm">
        <div class="contactDiv">
            <h2>Contact us</h2>
            <div class="contactDetails">
                <img src="../../assets/images/ic-phone.png" alt="ic-phone">
                <div class="sideDetails">
                    <span>Telephone</span>
                    <font>+47 488 90 814</font>
                </div>
            </div>
            <div class="contactDetails">
                <img src="../../assets/images/ic-email.png" alt="ic-phone">
                <div class="sideDetails">
                    <span>Email</span>
                    <font>post@typeopplering.no</font>
                </div>
            </div>
            <div class="contactDetails">
                <img src="../../assets/images/ic-address.png" alt="ic-phone">
                <div class="sideDetails">
                    <span>Address</span>
                    <font>Hvervenmoveien 49, 3511 Hønefoss</font>
                </div>
            </div>
        </div>
    </div>
</section>
