h5{
  height: 60px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.75;
  letter-spacing: normal;
  text-align: left;
  color: #0f72e2;
}

.account-setup{
  width: 485px;
  height: 220px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.75;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}

.account-row{
  margin-left: 24px !important;
  margin-top: 42px !important;
}


.search-label{
  background-color: #144add;
  color: #fff;
  text-align: center;
  padding-top: 7px;
  margin-left: -17px;
}

.search-bar{
  margin-top: 4%;
  margin-right: 2%;
}

.content-wrapper {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-left: 10px;
  margin-bottom: 10px;
}

thead{
  background-color: rgba(0, 123, 255, 0.28);
  color: #0016ff;
}

.red-dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.green-dot {
  height: 10px;
  width: 10px;
  background-color: rgb(26, 163, 14);
  border-radius: 50%;
  display: inline-block;
}

.yellow-dot {
  height: 10px;
  width: 10px;
  background-color: rgb(255, 187, 0);
  border-radius: 50%;
  display: inline-block;
}
