<div class="account-row">
    <div class="row  col-md-12">
        <div class="col-md-6">
          User List
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-outline-primary pull-right tl-butn"><i class="fa fa-pencil"></i> Edit</button>
            <button type="button" class="btn btn-outline-primary pull-right tl-butn mar-rgt5"><i class="fa fa-times-circle"></i> New</button>
        </div>
    </div>


    <div class="row search-bar">
        <div class="col-md-11">
            <input type="text" class="form-control" placeholder="Search User">
        </div>
        <label class="search-label col-md-1">
            <mat-icon class="icon">search</mat-icon>
        </label>
    </div>

      <div class="row search-bar">
        <div class="col-xs-12 col-12">
            <pagination [totalItems]="contentArray.length" (pageChanged)="pageChanged($event)"></pagination>
          <!-- <div class="content-wrapper"> -->
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>User Name</th>
                    <th>Number of Trainings</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let content of returnedArray">
                    <td><a [routerLink]="'users/'+[content.userName]">{{content.userName}}</a></td>
                    <td>{{content.noOfTrainings}}</td>
                    <td> <span [ngClass]="{'red-dot': content.status=='waiting', 'yellow-dot': content.status=='in progress', 'green-dot': content.status=='passed'}"></span> {{content.status}}</td>
                  </tr>
                </tbody>
              </table>
          <!-- </div> -->
        </div>

      </div>

  </div>
