
<div class="row profile-page-row">
  <span class="profile-page-span">
     Profile Page
  </span>
  <div class="col-md-12">
      <form action="#" class="form-horizontal">
          <div class="form-body">
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-md-3">Full Name:</label>
                          <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="Peter White">
                              <!-- <small class="form-control-feedback"> This is inline help </small>  -->
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="control-label col-md-3">Profile Photo:</label>
                          <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="../../assets/images/im-01.png" width="250px">
                                  </div>
                                  <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-outline-primary"><i class="fa fa-camera"></i> Change photo</button>
                                            <div class="gap-small"></div>
                                            <button type="button" class="btn btn-outline-primary top-buffer"><i class="fa fa-times-circle"></i> Remove photo</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="control-label col-md-3">Email:</label>
                          <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="Thoma.hardy@company.com">
                              <!-- <small class="form-control-feedback"> This is inline help </small>  -->
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="control-label col-md-3">Phone:</label>
                          <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="+1 890 238 89 32">
                              <!-- <small class="form-control-feedback"> This is inline help </small>  -->
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="control-label col-md-3">Address:</label>
                          <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="14 Garrett Hill London, UK, SW1 8JR">
                              <!-- <small class="form-control-feedback"> This is inline help </small>  -->
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="control-label col-md-3">Special Credits:</label>
                          <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="Peter White">
                              <!-- <small class="form-control-feedback"> This is inline help </small>  -->
                          </div>
                      </div>
                  </div>
              </div>


          </div>

      </form>
  </div>
</div>


