<nav>
  <div class="nav-item" *ngFor="let item of navitems"
  [routerLink]="[item.link]" routerLinkActive="active">
        <mat-icon class="icon">{{item.icon}}</mat-icon>
        <div
        (click)="item.subnavDisplay = toggleSubNav(item.subNavigation.length, item.subnavDisplay)"
         class="label">{{item.label}}</div>
        <mat-icon class="icon"  *ngIf="item.subNavigation.length && item.subnavDisplay">keyboard_arrow_down</mat-icon>
        <mat-icon class="icon" *ngIf="item.subNavigation.length && !item.subnavDisplay">keyboard_arrow_right</mat-icon>
        <!-- <div class="nav-item" *ngFor="let subNav of item.subNavigation">
              <div class="label">{{subNav.label}}</div>
        </div> -->
        <ul *ngIf="item.subnavDisplay" class="sub-navigation-ul ">
          <li *ngFor="let subitem of item.subNavigation"><span  [routerLink]="[subitem.link]" routerLinkActive="active" class="label">{{subitem.label}}</span></li>
        </ul>
  </div>

</nav>
