<div class="account-row">
    <div class="row  col-md-12">
        <div class="col-md-6">
          Subscriptions
          <mat-icon class="icon">keyboard_arrow_right</mat-icon>
          Purchase Trainings
        </div>
    </div>


    <div class="row search-bar">
        <div class="col-md-11">
            <input type="text" class="form-control" placeholder="Search User">
        </div>
        <label class="search-label col-md-1">
            <mat-icon class="icon">search</mat-icon>
        </label>
    </div>

  </div>
