
<div class="title-area">
  <div class="title-text">Login</div>
  <!-- <div class="spacer"></div> -->
  <mat-icon class="close" (click)="onCancelClick()">close</mat-icon>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
<div class="content-area">
  <div>
      <input type="text" placeholder="&#xf0e0;" formControlName="username" required>
  </div>
  <div>
      <input type="password"  placeholder="&#xf023;" formControlName="password" required>
  </div>
  <div class="forgot-password">Forgot Password</div>
  <div class="button-area">
      <button type="submit" class="tl-btn"> 
          <div class="btn-label">Login</div>
      </button>
  </div>
</div>
</form>

